<header class="header" id="inicio">
    <nav class="navbar navbar-expand-md bg-black">
        <div class="container-fluid">
            <!-- icono o nombre -->
            <a class="navbar-brand logo" href="http://gruposima.ar/">
                <img src="../../../assets/img/logo.png" alt="logo" class="img-fluid" width=" 250" height="">
            </a>
            <!-- boton Login -->
            <div class="botones-menu">
                <button type="button" class="btn btn-danger g-4" (click)="main()">Principal</button>
            </div>
        </div>
    </nav>
</header>
<div class="container col-md-12 my-4">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Personas</h3>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onCreate()"  novalidate #f="ngForm" >
                <div class="form-group">
                    <label for="nombreEmpleado">Nombres:</label>
                    <input type="text" class="form-control" id="nombreEmpleado" name="nombreEmpleado" [(ngModel)]="nombreEmpleado" required>
                </div>
                <div class="form-group">
                    <label for="apellidoEmpleado">Apellido</label>
                    <input type="text" class="form-control" id="apellidoEmpleado" name="apellidoEmpleado" [(ngModel)]="apellidoEmpleado" required>
                </div>
                
                <div class="form-group">
                    <label for="dniempleado">Dni</label>
                    <input type="text" class="form-control" id="dniempleado" name="dniempleado" [(ngModel)]="dniempleado" required>
                </div>
 
                <div class="form-group">
                    <label for="legajoEmpleado">Legajo</label>
                    <input type="text" class="form-control" id="legajoEmpleado" name="legajoEmpleado" [(ngModel)]="legajoEmpleado" required>
                </div>
                
                <div class="form-group">
                    <label for="fechaNascimentoEmpleado">Fecha/Nac</label>
                    <input type="datetime" class="form-control" id="fechaNascimentoEmpleado" name="fechaNascimentoEmpleado" [(ngModel)]="fechaNascimentoEmpleado" required>
                </div>

                <div class="form-group">
                    <label for="fechaAltaEmpleado">Fecha/Alta</label>
                    <input type="datetime" class="form-control" id="fechaAltaEmpleado" name="fechaAltaEmpleado" [(ngModel)]="fechaAltaEmpleado" required>
                </div>

                <div class="form-group">
                    <label for="objetivoEmpleado">Objetivo</label>
                    <input type="text" class="form-control" id="objetivoEmpleado" name="objetivoEmpleado" [(ngModel)]="objetivoEmpleado" required>
                </div>
                <div class="form-group">
                    <label for="turnoEmpleado">Turno</label>
                    <input type="text" class="form-control" id="turnoEmpleado" name="turnoEmpleado" [(ngModel)]="turnoEmpleado" required>
                </div>

                <div class="form-group">
                    <label for="telefonoEmpleado">Telefono Contacto</label>
                    <input type="number" class="form-control" id="telefonoEmpleado" name="telefonoEmpleado" [(ngModel)]="telefonoEmpleado" required>
                </div>

                <div class="form-group">
                    <label for="cargoEmpleado">Cargo</label>
                    <input type="text" class="form-control" id="cargoEmpleado" name="cargoEmpleado" [(ngModel)]="cargoEmpleado" required>
                </div>

                <div class="form-group">
                    <label for="emailEmpleado">Email</label>
                    <input type="text" class="form-control" id="emailEmpleado" name="emailEmpleado" [(ngModel)]="emailEmpleado" required>
                </div>

                <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="direccionEmpleado" required>
                </div>

                <div class="form-group">
                    <label for="codigoPostalEmpleado">Codigo Postal</label>
                    <input type="text" class="form-control" id="codigoPostalEmpleado" name="codigoPostalEmpleado" [(ngModel)]="codigoPostalEmpleado" required>
                </div>

                <div class="form-group">
                    <label for="estadoEmpleado">Estado</label>
                    <input type="text" class="form-control" id="estadoEmpleado" name="estadoEmpleado" [(ngModel)]="estadoEmpleado" required>
                </div>

                <button type="submit"class="btn btn-danger">
                    Agregar Empleado
                </button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>