<div class="container-fluid ">
    <div class="vh-100 row justify-content-center align-items-center text-center">
        <div class="  text-center ">
            <div id="login">
                <div class="titulo">
                    <img src="assets/img/logo.fwTransparente.png" class="img-fluid"
             alt="" width="" height="">
                </div>
                <form id="loginform">
                    <input type="text" name="usuario" placeholder="Usuario" required>
                    
                    <input type="password" placeholder="Contraseña" name="password" required>
                    
                    <button type="button" class="btn btn-danger" (click)="main()" >Acceder</button>
                    
                    <button type="button" class="btn btn-danger" >Cancelar</button>
                </form>
                <div class="pie-form">
                    <a href="#">¿No tienes Cuenta? Registrate</a>
                </div>
            </div>
            <div class="inferior">
                <a href=" ">Volver</a>
            </div>
        </div>
    </div>
</div >